<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='span4'>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.tweets.any? %>
      <h3>Timeline (<%= @user.tweets.count %> tweets)</h3>
      <ul class='tweets'>
        <%= render @tweets %>
      </ul>
      <%= will_paginate @tweets %>
    <% end %>
  </div>
</div>
